<div>
    <h2 id="page-heading">
        <span>Applicants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-applicant" [routerLink]="['/applicant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Applicant
            </span>
        </button>
    </h2>

    <pg-alert-error></pg-alert-error>

    <pg-alert></pg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applicants?.length === 0">
        <span>No applicants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applicants && applicants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="applicationSerial"><span>Application Serial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="appliedOn"><span>Applied On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="applicationFeePaidOn"><span>Application Fee Paid On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="selectedRejectedOn"><span>Selected Rejected On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicant of applicants ;trackBy: trackId">
                    <td><a [routerLink]="['/applicant', applicant.id, 'view']">{{ applicant.id }}</a></td>
                    <td>{{ applicant.applicationSerial }}</td>
                    <td>{{ applicant.status }}</td>
                    <td>{{ applicant.appliedOn | date:'medium' }}</td>
                    <td>{{ applicant.applicationFeePaidOn | date:'medium' }}</td>
                    <td>{{ applicant.selectedRejectedOn | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/applicant', applicant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/applicant', applicant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(applicant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="applicants && applicants.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
