<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicant">
            <h2><span>Applicant</span> {{ applicant.id }}</h2>

            <hr>

            <pg-alert-error></pg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Application Serial</span></dt>
                <dd>
                    <span>{{ applicant.applicationSerial }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ applicant.status }}</span>
                </dd>
                <dt><span>Applied On</span></dt>
                <dd>
                    <span>{{ applicant.appliedOn }}</span>
                </dd>
                <dt><span>Application Fee Paid On</span></dt>
                <dd>
                    <span>{{ applicant.applicationFeePaidOn }}</span>
                </dd>
                <dt><span>Selected Rejected On</span></dt>
                <dd>
                    <span>{{ applicant.selectedRejectedOn }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/applicant', applicant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
