<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicationDeadline">
            <h2><span>Application Deadline</span> {{ applicationDeadline.id }}</h2>

            <hr>

            <pg-alert-error></pg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>From Date</span></dt>
                <dd>
                    <span>{{ applicationDeadline.fromDate }}</span>
                </dd>
                <dt><span>To Date</span></dt>
                <dd>
                    <span>{{ applicationDeadline.toDate }}</span>
                </dd>
                <dt><span>Semester</span></dt>
                <dd>
                    <div *ngIf="applicationDeadline.semester">
                        <a [routerLink]="['/semester', applicationDeadline.semester?.id, 'view']">{{ applicationDeadline.semester?.semesterName }}</a>
                    </div>
                </dd>
                <dt><span>Program</span></dt>
                <dd>
                    <div *ngIf="applicationDeadline.program">
                        <a [routerLink]="['/program', applicationDeadline.program?.id, 'view']">{{ applicationDeadline.program?.programNameShort }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-deadline', applicationDeadline.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
