<div>
    <h2 id="page-heading">
        <span>Applicant Educational Informations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-applicant-educational-information" [routerLink]="['/applicant-educational-information/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Applicant Educational Information
            </span>
        </button>
    </h2>

    <pg-alert-error></pg-alert-error>

    <pg-alert></pg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applicantEducationalInformations?.length === 0">
        <span>No applicantEducationalInformations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applicantEducationalInformations && applicantEducationalInformations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instituteName"><span>Institute Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="board"><span>Board</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalMarksGrade"><span>Total Marks Grade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="divisionClassGrade"><span>Division Class Grade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="passingYear"><span>Passing Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="examType.examTypeName"><span>Exam Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="applicant.applicationSerial"><span>Applicant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicantEducationalInformation of applicantEducationalInformations ;trackBy: trackId">
                    <td><a [routerLink]="['/applicant-educational-information', applicantEducationalInformation.id, 'view']">{{ applicantEducationalInformation.id }}</a></td>
                    <td>{{ applicantEducationalInformation.instituteName }}</td>
                    <td>{{ applicantEducationalInformation.board }}</td>
                    <td>{{ applicantEducationalInformation.totalMarksGrade }}</td>
                    <td>{{ applicantEducationalInformation.divisionClassGrade }}</td>
                    <td>{{ applicantEducationalInformation.passingYear }}</td>
                    <td>
                        <div *ngIf="applicantEducationalInformation.examType">
                            <a [routerLink]="['/exam-type', applicantEducationalInformation.examType?.id, 'view']" >{{ applicantEducationalInformation.examType?.examTypeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="applicantEducationalInformation.applicant">
                            <a [routerLink]="['/applicant', applicantEducationalInformation.applicant?.id, 'view']" >{{ applicantEducationalInformation.applicant?.applicationSerial }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/applicant-educational-information', applicantEducationalInformation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/applicant-educational-information', applicantEducationalInformation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(applicantEducationalInformation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="applicantEducationalInformations && applicantEducationalInformations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
