<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="thana">
            <h2><span>Thana</span> {{ thana.id }}</h2>

            <hr>

            <pg-alert-error></pg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Thana Name</span></dt>
                <dd>
                    <span>{{ thana.thanaName }}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <div *ngIf="thana.district">
                        <a [routerLink]="['/district', thana.district?.id, 'view']">{{ thana.district?.districtName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/thana', thana.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
