<form *ngIf="applicantAddress" name="deleteForm" (ngSubmit)="confirmDelete(applicantAddress?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <pg-alert-error></pg-alert-error>

        <p id="pg-delete-applicantAddress-heading">Are you sure you want to delete this Applicant Address?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button id="pg-confirm-delete-applicantAddress" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span>
        </button>
    </div>
</form>
