<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="program">
            <h2><span>Program</span> {{ program.id }}</h2>

            <hr>

            <pg-alert-error></pg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Program Name Short</span></dt>
                <dd>
                    <span>{{ program.programNameShort }}</span>
                </dd>
                <dt><span>Program Name</span></dt>
                <dd>
                    <span>{{ program.programName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/program', program.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
