<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="pg-program-heading">Create or edit a Program</h2>

            <div>
                <pg-alert-error></pg-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_programNameShort">Program Name Short</label>
                    <input type="text" class="form-control" name="programNameShort" id="field_programNameShort"
                           formControlName="programNameShort"/>
                    <div *ngIf="editForm.get('programNameShort')!.invalid && (editForm.get('programNameShort')!.dirty || editForm.get('programNameShort')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('programNameShort')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_programName">Program Name</label>
                    <input type="text" class="form-control" name="programName" id="field_programName"
                           formControlName="programName"/>
                    <div *ngIf="editForm.get('programName')!.invalid && (editForm.get('programName')!.dirty || editForm.get('programName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('programName')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('programName')?.errors?.maxlength">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
