<div>
    <h2 id="page-heading">
        <span>Exam Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exam-type" [routerLink]="['/exam-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Exam Type
            </span>
        </button>
    </h2>

    <pg-alert-error></pg-alert-error>

    <pg-alert></pg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="examTypes?.length === 0">
        <span>No examTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="examTypes && examTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="examTypeCode"><span>Exam Type Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="examTypeName"><span>Exam Type Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let examType of examTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/exam-type', examType.id, 'view']">{{ examType.id }}</a></td>
                    <td>{{ examType.examTypeCode }}</td>
                    <td>{{ examType.examTypeName }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/exam-type', examType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/exam-type', examType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(examType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
