<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="examType">
            <h2><span>Exam Type</span> {{ examType.id }}</h2>

            <hr>

            <pg-alert-error></pg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Exam Type Code</span></dt>
                <dd>
                    <span>{{ examType.examTypeCode }}</span>
                </dd>
                <dt><span>Exam Type Name</span></dt>
                <dd>
                    <span>{{ examType.examTypeName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exam-type', examType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
