<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="district">
            <h2><span>District</span> {{ district.id }}</h2>

            <hr>

            <pg-alert-error></pg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>District Name</span></dt>
                <dd>
                    <span>{{ district.districtName }}</span>
                </dd>
                <dt><span>Division</span></dt>
                <dd>
                    <div *ngIf="district.division">
                        <a [routerLink]="['/division', district.division?.id, 'view']">{{ district.division?.divisionName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/district', district.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
